*.log
*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.DS_Store
blockchain-test.tix
.stack-work/
.stack-root/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
*.imports
/*.iml
/_site/
/.dir-locals.el
